body{
     border: 30px
}
.image{
    border: 4px solid black;
    border-image: fill;
}
.image img{
    align-content: center;
}
.details{
    padding: 2.5px;
}
.hobbies{
    align-items: center;
}